.color-green{
  color: $color-green;
}
.color-light-gray{
  color: $color-light-gray;
}
.color-gray{
  color: $color-gray;
}
.color-back{
  color: $color-black;
}
.color-white{
  color: $color-white;
}