code,
kbd,
pre,
.img-rounded,
.img-thumbnail,
/*.img-circle,*/
.form-control,
.btn,
.btn-link,
.dropdown-menu,
.list-group-item,
.input-group-addon,
.input-group-btn,
.nav-tabs a,
.nav-pills a,
.navbar,
.navbar-toggle,
.icon-bar,
.breadcrumb,
.pagination,
.pager *,
.label,
.badge,
.jumbotron,
.thumbnail,
.alert,
.progress,
.panel,
.well,
.modal-content,
.tooltip-inner,
.popover,
.popover-title,
.carousel-indicators li {
    border-radius:0 !important;
}

@font-face {
    font-family: "Kanit";
    src: url("../font/Kanit/Kanit-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Trirong";
    src: url("../font/Trirong/Trirong-Regular.ttf") format('truetype');
}

html, body {
    margin:0;
    padding:0;
    height:100%;
    background: #EEEEEE;
    font-family: 'Kanit', sans-serif;
}

#page {
    min-height:100%;
    position:relative;
}
#page-head {
    padding:10px;
}
#page-body {
    padding-bottom: 40vh;   /* Height of the footer */
}
#page-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:40vh;   /* Height of the footer */
    background:#40826D;
    color: #ffffff;
}

.footer {
    background: #40826D;
}

.container {
    padding-top: 5px;
    padding-bottom: 5px;
}

/*.footer > a {
    text-decoration: none;
}*/

.navbar {
    color: #ffffff;
    background: #40826D;
    margin-bottom: 200%;
}

.nav > li > a {
    color: #FFFFFF;
}

.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
    background: #ffffff;
    color: #40826D;
}

.navbar-brand {
    color: #FFFFFF;
    background: #40826D;
}

.navbar-brand:hover, .navbar-brand:focus {
    background: #ffffff;
    color: #40826D;
}

.icon-bar {
    background: #ffffff;
}

.row {
    margin: 1% 0 1% 0;
    padding: 0;
}

.row-card{
    /*padding: 1%;*/
    background: #ffffff;
}

.row-card > ol > li {
    margin: 2% 0 2% 0;
}

div {
    margin: 0;
    padding: 0;
}

.container, .container-fluid {
    margin-top: 30px;
}

.container-fluid {
    height: 100%;
}

.navbar > .container {
    margin-top: 0;
}

.welcome-card {
    background: #0375b4;
    padding: 6% 4% 6% 4%;
}

.welcome-card > .jumbotron {
    background: #0375b4;
    padding: 0;
}

.col-md-6 {
    padding: 0;
}

.panel {
    margin-top: 0;
}

.panel-primary > .panel-heading {
    background: #0375b4;
    color: #ffffff;
}

.panel-heading {
    text-align: center;
}

.panel-body {
    padding: 5%;
}

.panel-footer{
    text-align: center;
}

.btn-primary {
    background: #0375b4;
}

.teacher-card{
    border: solid 2px #6fb29b;
    position: relative;
    padding: 0 0 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #888888;
}

.teacher-card > .teacher-image {
    height: 360px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.staff-card {
    border: solid 1px #6fb29b;
    position: relative;
    padding: 0 0 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #888888;
}

.staff-card > .staff-image {
    height: 360px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card {
    position: relative;
    height: 400px;
    padding: 0 0 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #888888;
    /*border: solid;*/
}

.blog-card > .card-bg{
    height: 100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}

.blog-card > .card-caption {
    /*background: #D98F4F;*/
    background: rgba(255, 255, 255, 0.7);
    padding: 2% 2% 50px 2%;
    position: absolute;
    width: 100%;
    bottom: 0
}

.blog-card > .card-action {
    background: rgba(255, 255, 255, 0.8);
    padding: 3% 2% 1% 2%;
    position: absolute;
    width: 100%;
    bottom: 0
}

.file-card {
    position: relative;
    padding: 0 0 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #888888;
}

.file-card > .card-bg{
    height: 100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}

.file-card > .card-caption {
    padding: 3%;
    color: #ffffff;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    bottom: 0
}

.image-card {
    border: #6fb29b solid 1px;
    position: relative;
    padding: 0 0 0 0;
    overflow: hidden;
    box-shadow: 1px 1px 5px #888888;
}

.image-card > .card-bg{
    height: 100%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}

.image-card > .card-caption {
    border: #6fb29b solid 1px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    bottom: 0
}

h2 > span {
    color: #0f0f0f;
    letter-spacing: -1px;
}

p > span {
    color: #0f0f0f;
    letter-spacing: -1px;
}

.carousel {
    height: auto;
    width: 100%;
}

.carousel-inner {
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 5px #888888;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 70vh;
    max-width: none;
}

.carousel-caption {
    left: 0;
    height: 25%;
    width: 100%;
    padding-top: 2%;
    top: 75%;
    background: rgba(255, 255, 255, 0.7);
    color: #0f0f0f;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 1%;
}

.first {
    background: #D98F4F;
}

.second {
    background: #2c9cae;
}

.second .back {
    display: none;
    transform: scale(0);
}

.second .info {
    opacity: 0;
    transform: translateY(40px);
}

.some-space {
    padding-top: 1%;
}

.google-maps {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.center-cropped {
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    padding-top: 2%;
    background: #CFD8DC;
    height: 100%;
}

.content-card {
    background: #CFD8DC;
    padding: 2% 1% 1% 1%;
}

.footer {
    text-align: left;
}

.footer > p > a {
    text-decoration: none;
    color: #ffffff;
}

.footer > a {
    text-decoration: none;
    color: #ffffff;
}

.well {
    padding: 0 0 0 1%;
    background: #40826D;
    color: #ffffff;
}

.research-card {
    padding: 1% 4% 1% 4%;
}

.curricula-card {
    padding: 2% 2% 2% 2%;
    height: 240px;
    background: rgba(217, 143, 79, 0.8);
    border-radius: 0
}

.curricula-content > p{
    font-size: 20px;
}

.welcome-li {
    margin: 2%;
    font-size: 25px;
}

.black-ribbon {
    position: fixed;
    z-index: 9999;
    width: 70px;
}

@media only all and (min-width: 768px) {
    .black-ribbon {
        width: auto;
    }
}

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }

.bg-primary {
    background: #D98F4F;
}

.map-col {
    padding: 0 5% 5% 5%
}

.map-list {
    margin-bottom: 8%
}

.map-list > li {
    margin-bottom: 5%;
}

.pagination > .active > span {
    background-color: #40826D;
    border-color: #40826D;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #40826D;
    border-color: #40826D;
}

.pagination > li > a{
    color: #40826D;
}

.paragraph {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

a > .label-success {
    font-size: 14px;
    background: #40826D;
}

.section-heading {
    margin: 10px;
    padding: 2%;
    text-align: left;
    box-shadow: 1px 1px 5px #888888;
    background: #6fb29b;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 30px;
    }

    h2{
        font-size: 26px;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

    .curricula-card {
        height: 240px;
    }

    .item {
        height: 50vh;
        max-width: none;
    }

    .carousel-caption {
        padding-top: 0;
        /*opacity: 0;*/
    }
}

@media only screen and (max-width : 480px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 24px;
    }

    h3{
        font-size: 18px;
    }

    h4{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    .curricula-card {
        height: 230px;
    }

    .item {
        height: 50vh;
        max-width: none;
    }

    .carousel-caption {
        padding-top: 0;
        height: 30%;
        z-index: 25;
        /*opacity: 0;*/
    }
}
