@import "components/variables";
@import "components/container";
@import "components/navbar";
@import "components/card";
@import "components/form";
@import "components/color";
@import "components/title";
@import "components/wrapper";
@import "components/logo";
@import "components/dropDownMenu";

@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Light.ttf);
  font-weight: 100;
}

body{
  margin: 0;
  font-family: Kanit;
  background-color: $color-light-gray;

  padding-top: 50px;
  @media screen and (min-width: $device-tablet) {
    padding-top: 90px;
  }
  @media screen and (min-width: $device-computer) {
  }
  @media screen and (min-width: $device-lg-computer) {

  }
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

a{
  text-decoration: none;
  color: $color-green;
  &:hover{
    opacity: 0.5;
  }

}
