.container {
  width: 100%;
  padding: 0 10px;
  position: relative; }
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      display: block;
      padding: 0 20px;
      margin: auto; } }
  @media screen and (min-width: 980px) {
    .container {
      width: 980px;
      padding: 0; } }

.container-content {
  width: 100%;
  padding: 0 10px;
  position: relative;
  padding-bottom: 462px; }
  @media screen and (min-width: 768px) {
    .container-content {
      width: 768px;
      display: block;
      padding: 0 20px;
      margin: auto;
      padding-bottom: 328px; } }
  @media screen and (min-width: 980px) {
    .container-content {
      width: 980px;
      padding: 0;
      padding-bottom: 293px; } }

.wrapper-nav {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  list-style-type: none; }
  .wrapper-nav .list-nav {
    margin-right: 10px;
    display: inline-block;
    font-weight: 100;
    font-size: 12px;
    color: #888888;
    cursor: pointer; }
    .wrapper-nav .list-nav a {
      color: #888888; }
      .wrapper-nav .list-nav a:hover {
        color: #117167; }
    .wrapper-nav .list-nav:nth-last-child(1) {
      color: #117167;
      cursor: default; }
    .wrapper-nav .list-nav:hover {
      color: #117167; }
    .wrapper-nav .list-nav .image-home-list-nav {
      cursor: pointer;
      position: relative;
      width: 18px;
      height: 20px;
      top: 5px; }
      @media screen and (min-width: 768px) {
        .wrapper-nav .list-nav .image-home-list-nav {
          top: 4px;
          width: 20px;
          height: 22px; } }
    .wrapper-nav .list-nav .image-chevron-right-list-nav {
      cursor: default; }
    @media screen and (min-width: 768px) {
      .wrapper-nav .list-nav {
        font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .wrapper-nav {
      margin-top: 20px;
      margin-bottom: 0; } }

.wrapper-image-slide-announcement {
  width: 100%;
  max-height: 200px;
  list-style-type: none; }
  .wrapper-image-slide-announcement .image-slide-announcement {
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 768px) {
    .wrapper-image-slide-announcement {
      max-height: 350px; } }

.wrapper-list-nav-mobile {
  display: none;
  width: 100%;
  z-index: 2;
  top: 60px;
  left: 0;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #F0F0F0;
  position: absolute; }
  .wrapper-list-nav-mobile .list-nav-mobile {
    width: 100%;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #F0F0F0;
    font-size: 12px; }
    .wrapper-list-nav-mobile .list-nav-mobile a {
      color: #000000;
      width: 100%;
      display: block; }
    .wrapper-list-nav-mobile .list-nav-mobile:nth-last-child(1) {
      border-bottom: none; }
    .wrapper-list-nav-mobile .list-nav-mobile .sub-wrapper-mobile {
      width: 100%;
      list-style-type: none; }
      .wrapper-list-nav-mobile .list-nav-mobile .sub-wrapper-mobile .list-sub-wrapper-mobile {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px; }
        .wrapper-list-nav-mobile .list-nav-mobile .sub-wrapper-mobile .list-sub-wrapper-mobile a {
          color: #000000;
          width: 100%;
          display: block; }
  @media screen and (min-width: 768px) {
    .wrapper-list-nav-mobile {
      display: none; } }

.wrapper-news-home-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-news-home-page .list-wrapper-news-home-page {
    width: 100%; }
    .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) .wrapper-card-news .list-wrapper-card-news {
      margin-bottom: 10px; }
    .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news:nth-last-child(1) {
      display: block;
      text-align: right; }
    @media screen and (min-width: 768px) {
      .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) {
        width: 100%; }
        .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) .wrapper-card-news .list-wrapper-card-news {
          width: 100%; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) .wrapper-card-news .list-wrapper-card-news:nth-of-type(1) {
            padding-right: 10px; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) .wrapper-card-news .list-wrapper-card-news:nth-of-type(2) {
            padding-left: 10px; }
      .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) {
        width: 100%; }
        .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news {
          width: 50%; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news:nth-of-type(2n+1) {
            padding-right: 10px; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news:nth-of-type(2n) {
            padding-left: 10px; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news:nth-last-child(1) {
            display: block;
            text-align: right;
            width: 100%; } }
    @media screen and (min-width: 980px) {
      .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) {
        width: 70%;
        padding-right: 10px; }
        .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(1) .wrapper-card-news .list-wrapper-card-news {
          width: 100%; }
      .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) {
        width: 30%;
        padding-left: 10px; }
        .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news {
          width: 100%;
          padding: 0; }
          .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news:nth-of-type(n) {
            padding: 0; } }
    @media screen and (min-width: 980px) and (min-width: 768px) {
      .wrapper-news-home-page .list-wrapper-news-home-page:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news {
        margin-bottom: 10px; } }

.wrapper-card-news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-card-news .list-wrapper-card-news {
    width: 100%;
    margin-bottom: 10px;
    display: flex; }
    .wrapper-card-news .list-wrapper-card-news .watch-more-card-news {
      font-weight: 100;
      margin-top: 10px;
      font-size: 14px;
      cursor: pointer; }
      @media screen and (min-width: 768px) {
        .wrapper-card-news .list-wrapper-card-news .watch-more-card-news {
          font-size: 16px; } }
    @media screen and (min-width: 768px) {
      .wrapper-card-news .list-wrapper-card-news {
        width: 33.33333%;
        margin-bottom: 20px; } }

.wrapper-cand-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-cand-all .list-wrapper-card-all {
    width: 100%;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .wrapper-cand-all .list-wrapper-card-all {
        margin-bottom: 20px;
        width: 50%; }
        .wrapper-cand-all .list-wrapper-card-all:nth-of-type(n) {
          padding-right: 10px; }
        .wrapper-cand-all .list-wrapper-card-all:nth-of-type(2n) {
          padding-left: 10px; } }
    @media screen and (min-width: 980px) {
      .wrapper-cand-all .list-wrapper-card-all {
        width: 33.3333%;
        margin-bottom: 0px; }
        .wrapper-cand-all .list-wrapper-card-all:nth-of-type(3n+1) {
          padding-left: 0;
          padding-right: 10px; }
        .wrapper-cand-all .list-wrapper-card-all:nth-of-type(3n+2) {
          padding: 0 5px; }
        .wrapper-cand-all .list-wrapper-card-all:nth-of-type(3n+3) {
          padding-left: 10px;
          padding-right: 0px; } }
  .wrapper-cand-all .last-list-wrapper-card-all {
    width: 100%;
    text-align: right; }

.wrapper-category-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-category-news .list-card-news-category {
    margin-bottom: 10px; }
    .wrapper-category-news .list-card-news-category:nth-of-type(3) .wrapper-card-news .list-wrapper-card-news {
      width: 100%; }
      .wrapper-category-news .list-card-news-category:nth-of-type(3) .wrapper-card-news .list-wrapper-card-news:nth-last-child(1) {
        display: block;
        text-align: right; }
      @media screen and (min-width: 768px) {
        .wrapper-category-news .list-card-news-category:nth-of-type(3) .wrapper-card-news .list-wrapper-card-news {
          margin-bottom: 10px; } }
    @media screen and (min-width: 768px) {
      .wrapper-category-news .list-card-news-category {
        width: 33.33333%;
        margin-bottom: 0px; }
        .wrapper-category-news .list-card-news-category:nth-of-type(1) {
          padding-left: 0;
          padding-right: 10px; }
        .wrapper-category-news .list-card-news-category:nth-of-type(2) {
          padding: 0 10px; }
        .wrapper-category-news .list-card-news-category:nth-of-type(3) {
          padding-left: 10px;
          padding-right: 0px; } }

.wrapper-read-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-read-news .list-wrapper-read-news {
    width: 100%;
    margin-bottom: 10px; }
    .wrapper-read-news .list-wrapper-read-news .wrapper-header-title {
      margin-bottom: 0; }
    .wrapper-read-news .list-wrapper-read-news .wrapper-time-create-card-news-vertical {
      margin-top: 5px;
      width: 100%;
      display: flex; }
      .wrapper-read-news .list-wrapper-read-news .wrapper-time-create-card-news-vertical .image-calendar-card-news-vertical {
        width: 18px;
        height: 18px; }
        @media screen and (min-width: 768px) {
          .wrapper-read-news .list-wrapper-read-news .wrapper-time-create-card-news-vertical .image-calendar-card-news-vertical {
            width: 20px;
            height: 20px; } }
      .wrapper-read-news .list-wrapper-read-news .wrapper-time-create-card-news-vertical .time-create-card-news-vertical {
        font-size: 12px;
        color: #888888;
        font-weight: 100;
        padding-left: 10px;
        line-height: 1.7; }
        @media screen and (min-width: 768px) {
          .wrapper-read-news .list-wrapper-read-news .wrapper-time-create-card-news-vertical .time-create-card-news-vertical {
            font-size: 12px;
            line-height: 1.9; } }
    .wrapper-read-news .list-wrapper-read-news .image-read-news {
      width: 100%;
      height: auto;
      margin-top: 10px; }
      @media screen and (min-width: 768px) {
        .wrapper-read-news .list-wrapper-read-news .image-read-news {
          margin-top: 20px; } }
    .wrapper-read-news .list-wrapper-read-news .description-read-news {
      margin: 10px 0;
      font-family: Thonburi;
      font-size: 14px;
      font-weight: 100; }
      @media screen and (min-width: 768px) {
        .wrapper-read-news .list-wrapper-read-news .description-read-news {
          margin: 20px 0;
          font-size: 16px; } }
    @media screen and (min-width: 768px) {
      .wrapper-read-news .list-wrapper-read-news {
        margin-bottom: 0; }
        .wrapper-read-news .list-wrapper-read-news:nth-of-type(1) {
          width: 70%;
          padding-right: 10px; }
        .wrapper-read-news .list-wrapper-read-news:nth-of-type(2) {
          width: 30%;
          padding-left: 10px; }
          .wrapper-read-news .list-wrapper-read-news:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news {
            width: 100%; } }
      @media screen and (min-width: 768px) and (min-width: 768px) {
        .wrapper-read-news .list-wrapper-read-news:nth-of-type(2) .wrapper-card-news .list-wrapper-card-news {
          margin-bottom: 10px; } }

.wrapper-card-type-person {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-card-type-person .list-card-type-person {
    width: 100%;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .wrapper-card-type-person .list-card-type-person {
        margin-bottom: 0px;
        width: 50%; }
        .wrapper-card-type-person .list-card-type-person:nth-of-type(1) {
          padding-right: 10px; }
        .wrapper-card-type-person .list-card-type-person:nth-of-type(2) {
          padding-left: 10px; } }

.wrapper-card-detail-curricula {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none; }
  .wrapper-card-detail-curricula .list-card-detail-curricula {
    width: 100%;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .wrapper-card-detail-curricula .list-card-detail-curricula {
        margin-bottom: 0px;
        width: 50%; }
        .wrapper-card-detail-curricula .list-card-detail-curricula:nth-of-type(n) {
          padding-right: 10px; }
        .wrapper-card-detail-curricula .list-card-detail-curricula:nth-of-type(2n) {
          padding-left: 10px; } }

.wrapper-card-person-read-person {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap; }
  .wrapper-card-person-read-person .list-wrapper-card-person-read-person {
    width: 100%;
    margin-bottom: 10px; }
    .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(n) {
      padding-right: 5px; }
    .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(2n) {
      padding-right: 0px;
      padding-left: 5px; }
    .wrapper-card-person-read-person .list-wrapper-card-person-read-person .card-person:hover {
      box-shadow: none;
      border: 1px solid #F0F0F0; }
    .wrapper-card-person-read-person .list-wrapper-card-person-read-person .card-person .role-card-person {
      font-size: 12px;
      font-weight: 100;
      color: #117167;
      margin-top: 5px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .wrapper-card-person-read-person .list-wrapper-card-person-read-person .card-person .role-card-person {
          font-size: 12px; } }
    .wrapper-card-person-read-person .list-wrapper-card-person-read-person .card-person .name-card-person {
      font-size: 12px; }
      @media screen and (min-width: 768px) {
        .wrapper-card-person-read-person .list-wrapper-card-person-read-person .card-person .name-card-person {
          font-size: 12px; } }
    @media screen and (min-width: 768px) {
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(3n+1) {
        padding-left: 0;
        padding-right: 10px; }
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(3n+2) {
        padding: 0 5px; }
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(3n+3) {
        padding-left: 10px;
        padding-right: 0px; } }
    @media screen and (min-width: 980px) {
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(2n+1) {
        padding-left: 0;
        padding-right: 5px; }
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(2n+2) {
        padding-left: 0px;
        padding-right: 5px; }
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(2n+3) {
        padding-left: 5px;
        padding-right: 0px; }
      .wrapper-card-person-read-person .list-wrapper-card-person-read-person:nth-of-type(2n+4) {
        padding-left: 5px;
        padding-right: 0px; } }

.wrapper-btn-share {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 10px 0; }
  .wrapper-btn-share .list-btn-share {
    margin-left: 10px; }
    .wrapper-btn-share .list-btn-share img {
      width: 30px;
      height: 30px;
      cursor: pointer; }
  @media screen and (min-width: 768px) {
    .wrapper-btn-share {
      margin: 20px 0; } }

.wrapper-4card {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  box-sizing: border-box; }
  .wrapper-4card .list-wrapper-4card {
    margin-bottom: 10px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .wrapper-4card .list-wrapper-4card {
        margin-bottom: 20px;
        width: 33.3333%; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+1) {
          padding-right: 5px; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+2) {
          padding-left: 5px;
          padding-right: 5px; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+3) {
          padding-left: 5px; } }
    @media screen and (min-width: 980px) {
      .wrapper-4card .list-wrapper-4card {
        width: 25%; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n) {
          padding-right: 5px; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+1) {
          padding-left: 5px;
          padding-right: 5px; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+2) {
          padding-left: 5px;
          padding-right: 5px; }
        .wrapper-4card .list-wrapper-4card:nth-of-type(2n+3) {
          padding-left: 5px; } }

.color-green {
  color: #117167; }

.color-light-gray {
  color: #F0F0F0; }

.color-gray {
  color: #888888; }

.color-back {
  color: #000000; }

.color-white {
  color: #ffffff; }

.button-next, .button-previous {
  background-color: #F0F0F0;
  border: none;
  cursor: pointer; }
  .button-next:focus, .button-previous:focus {
    outline: none; }
  @media screen and (min-width: 768px) {
    .button-next, .button-previous {
      width: 28px;
      height: 28px; } }

.btn-square {
  border: none;
  cursor: pointer;
  padding: 10px; }
  @media screen and (min-width: 768px) {
    .btn-square {
      padding: 20px; } }

.btn-share-facebook {
  background-color: #3B5998;
  color: #ffffff;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    .btn-share-facebook {
      font-size: 12px; } }

.btn-share-twitter {
  background-color: #55ACEE;
  color: #ffffff;
  font-size: 12px; }
  @media screen and (min-width: 768px) {
    .btn-share-twitter {
      font-size: 12px; } }

.btn-go-top {
  width: 40px;
  z-index: 2;
  height: 40px;
  display: none;
  background-color: #117167;
  border: none;
  border-radius: 100%;
  position: fixed;
  bottom: 60px;
  right: 20px;
  cursor: pointer; }
  .btn-go-top:focus {
    outline: none; }
  @media screen and (min-width: 768px) {
    .btn-go-top {
      bottom: 80px; } }

.navbar-top {
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #F0F0F0;
  z-index: 1; }
  .navbar-top .brand-navbar-top {
    position: absolute;
    font-weight: 100;
    font-size: 18px;
    top: 15px; }
    .navbar-top .brand-navbar-top a {
      color: #117167; }
    @media screen and (min-width: 768px) {
      .navbar-top .brand-navbar-top {
        top: 20px;
        font-size: 24px; } }
  .navbar-top .wrapper-manu-navbar-top {
    float: right;
    height: 100%;
    display: none; }
    .navbar-top .wrapper-manu-navbar-top .menu-navbar-top {
      color: #000000;
      display: inline-block;
      height: 100%;
      line-height: 5;
      margin-left: 8px;
      cursor: pointer; }
      .navbar-top .wrapper-manu-navbar-top .menu-navbar-top:hover {
        color: #117167; }
        @media screen and (min-width: 980px) {
          .navbar-top .wrapper-manu-navbar-top .menu-navbar-top:hover .drop-down-menu {
            display: block; } }
      .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu {
        display: none;
        position: absolute;
        width: 200px;
        background-color: #ffffff;
        right: 0;
        padding: 10px;
        z-index: 2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        list-style-type: none; }
        .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down {
          height: 40px;
          max-height: 40px;
          width: 100%;
          line-height: 2;
          border-bottom: 1px solid #F0F0F0;
          text-align: center; }
          .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down:hover {
            color: #117167; }
          .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down:nth-last-of-type(2) {
            line-height: 2.5; }
          .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down:nth-last-of-type(1) {
            line-height: 2.5;
            border-bottom: none; }
          .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down a {
            color: #000000; }
            .navbar-top .wrapper-manu-navbar-top .menu-navbar-top .drop-down-menu .list-menu-drop-down a:hover {
              color: #117167; }
    @media screen and (min-width: 768px) {
      .navbar-top .wrapper-manu-navbar-top {
        display: block;
        font-size: 16px; } }
  .navbar-top .btn-hamberger {
    display: block;
    border: none;
    right: 10px;
    top: 14px;
    cursor: pointer;
    position: absolute;
    background-color: #117167;
    width: 40px;
    height: 30px;
    color: #ffffff; }
    .navbar-top .btn-hamberger:focus {
      outline: none; }
    @media screen and (min-width: 768px) {
      .navbar-top .btn-hamberger {
        display: none; } }
  @media screen and (min-width: 768px) {
    .navbar-top {
      height: 80px; } }

.navbar-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #F0F0F0; }
  .navbar-bottom .row-menu-navbar-bottom {
    list-style-type: none;
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom {
      width: 50%; }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom:nth-of-type(1) {
        width: 100%; }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .brand-navbar-bottom {
        font-weight: 100;
        font-size: 18px;
        color: #117167; }
        @media screen and (min-width: 768px) {
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .brand-navbar-bottom {
            font-size: 24px; } }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .follow-us {
        font-weight: 100;
        margin-top: 10px;
        font-size: 16px; }
        @media screen and (min-width: 768px) {
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .follow-us {
            font-size: 18px;
            width: auto; } }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social {
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        list-style-type: none; }
        .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social .logo-social {
          margin-left: 5px;
          display: inline-block; }
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social .logo-social img {
            width: 30px;
            height: 30px; }
            @media screen and (min-width: 768px) {
              .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social .logo-social img {
                width: 35px;
                height: 35px; } }
          @media screen and (min-width: 768px) {
            .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social .logo-social:nth-of-type(1) {
              margin-left: 0; } }
        @media screen and (min-width: 768px) {
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-social {
            display: block;
            margin-bottom: 0px; } }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .title-navbar-bottom {
        font-weight: 100;
        font-size: 16px; }
        @media screen and (min-width: 768px) {
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .title-navbar-bottom {
            font-size: 18px; } }
      .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-title-navbar-bottom {
        list-style-type: none;
        font-weight: 100;
        font-size: 14px;
        font-family: Thonburi;
        cursor: pointer;
        margin: 10px 0 0 10px; }
        .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-title-navbar-bottom li {
          margin-bottom: 10px; }
        @media screen and (min-width: 768px) {
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom .menu-title-navbar-bottom {
            font-size: 16px; } }
      @media screen and (min-width: 768px) {
        .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom {
          width: 20%;
          padding: 20px 0; }
          .navbar-bottom .row-menu-navbar-bottom .col-menu-navbar-bottom:nth-of-type(1) {
            width: 40%; } }
  .navbar-bottom .copyright {
    background-color: #117167;
    width: 100%;
    border-top: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    line-height: 4;
    height: 40px;
    font-size: 10px; }
    @media screen and (min-width: 768px) {
      .navbar-bottom .copyright {
        font-size: 16px;
        line-height: 4;
        height: 60px; } }

.wrapper-header-title {
  width: 100%;
  margin: 10px 0;
  display: -webkit-inline-box;
  overflow-x: hidden;
  position: relative; }
  .wrapper-header-title .header-title {
    width: auto;
    overflow: hidden;
    font-size: 18px;
    font-weight: 100; }
    @media screen and (min-width: 768px) {
      .wrapper-header-title .header-title {
        font-size: 24px;
        margin-right: 20px; } }
  .wrapper-header-title .line-header-title {
    display: none;
    position: absolute;
    width: 100%;
    height: 1px;
    top: 19px;
    overflow: hidden;
    background-color: #F0F0F0; }
    @media screen and (min-width: 768px) {
      .wrapper-header-title .line-header-title {
        display: block; } }
  .wrapper-header-title .wrapper-buttom-next-previous {
    position: absolute;
    right: 0;
    display: inline-block;
    z-index: 1;
    padding-left: 10px;
    background-color: #ffffff; }
    .wrapper-header-title .wrapper-buttom-next-previous .button-next, .wrapper-header-title .wrapper-buttom-next-previous .button-previous {
      width: 25px;
      height: 25px; }
      @media screen and (min-width: 768px) {
        .wrapper-header-title .wrapper-buttom-next-previous .button-next, .wrapper-header-title .wrapper-buttom-next-previous .button-previous {
          width: 28px;
          height: 28px; } }
    @media screen and (min-width: 768px) {
      .wrapper-header-title .wrapper-buttom-next-previous {
        top: 5px;
        padding-left: 20px; } }
  @media screen and (min-width: 768px) {
    .wrapper-header-title {
      margin: 20px 0; } }

.card-news-vertical {
  width: 100%;
  margin-bottom: 10px; }
  .card-news-vertical a {
    color: black; }
  .card-news-vertical .image-card-news-vertical {
    width: 100%;
    height: auto;
    cursor: pointer; }
  .card-news-vertical .title-card-news-vertical {
    cursor: pointer;
    font-weight: 100;
    font-size: 16px;
    width: 100%; }
    .card-news-vertical .title-card-news-vertical:hover {
      color: #117167; }
    @media screen and (min-width: 768px) {
      .card-news-vertical .title-card-news-vertical {
        font-size: 18px; } }
  .card-news-vertical .description-card-news-vertical {
    font-weight: 100;
    margin-top: 5px;
    width: 100%;
    font-size: 12px;
    color: #888888; }
    @media screen and (min-width: 768px) {
      .card-news-vertical .description-card-news-vertical {
        font-size: 12px; } }
  .card-news-vertical .wrapper-time-create-card-news-vertical {
    margin-top: 5px;
    width: 100%;
    display: flex; }
    .card-news-vertical .wrapper-time-create-card-news-vertical .image-calendar-card-news-vertical {
      width: 18px;
      height: 18px; }
      @media screen and (min-width: 768px) {
        .card-news-vertical .wrapper-time-create-card-news-vertical .image-calendar-card-news-vertical {
          width: 20px;
          height: 20px; } }
    .card-news-vertical .wrapper-time-create-card-news-vertical .time-create-card-news-vertical {
      font-size: 12px;
      color: #888888;
      font-weight: 100;
      padding-left: 10px;
      line-height: 1.7; }
      @media screen and (min-width: 768px) {
        .card-news-vertical .wrapper-time-create-card-news-vertical .time-create-card-news-vertical {
          font-size: 12px;
          line-height: 1.9; } }
  @media screen and (min-width: 768px) {
    .card-news-vertical {
      margin-bottom: 20px; } }

.card-news-horizontal {
  width: 100%;
  display: inline-block; }
  .card-news-horizontal a {
    color: black; }
  .card-news-horizontal .image-card-news-horizontal {
    width: 45%;
    height: auto;
    overflow: hidden;
    float: left;
    cursor: pointer; }
  .card-news-horizontal .title-card-news-horizontal {
    cursor: pointer;
    display: flex;
    padding-left: 10px;
    font-weight: 100;
    font-size: 14px; }
    .card-news-horizontal .title-card-news-horizontal:hover {
      color: #117167; }
    @media screen and (min-width: 768px) {
      .card-news-horizontal .title-card-news-horizontal {
        font-size: 12px; } }

.card-curricula {
  width: 100%;
  background-color: #F0F0F0;
  max-height: 180px;
  height: 180px;
  padding: 20px  10px;
  cursor: pointer; }
  .card-curricula:hover {
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .card-curricula .image-card-curricula {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px; }
    @media screen and (min-width: 768px) {
      .card-curricula .image-card-curricula {
        width: 80px;
        height: 80px; } }
  .card-curricula .type-card-curricula {
    color: #117167;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .card-curricula .type-card-curricula {
        font-size: 18px; } }
  .card-curricula .detail-card-curricula {
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    margin-top: 5px; }
    @media screen and (min-width: 768px) {
      .card-curricula .detail-card-curricula {
        font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .card-curricula {
      padding: 20px;
      max-height: 220px;
      height: 220px; } }

.card-type-person {
  background-color: #F0F0F0;
  width: 100%;
  height: 110px;
  max-height: 110px;
  cursor: pointer;
  padding: 10px 0; }
  .card-type-person:hover {
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .card-type-person .image-card-type-person {
    margin: auto;
    display: block;
    width: 60px;
    height: 60px; }
    @media screen and (min-width: 768px) {
      .card-type-person .image-card-type-person {
        width: 80px;
        height: 80px; } }
  .card-type-person .name-card-type-person {
    font-weight: 100;
    text-align: center;
    margin-top: 5px;
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .card-type-person .name-card-type-person {
        margin-top: 10px;
        font-size: 18px; } }
  @media screen and (min-width: 768px) {
    .card-type-person {
      padding: 20px 0;
      height: 160px;
      max-height: 160px; } }

.card-detail-curricula {
  width: 100%;
  background-color: #F0F0F0;
  height: 100px;
  cursor: pointer;
  margin-bottom: 10px; }
  .card-detail-curricula:hover {
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .card-detail-curricula .wrapper-in-card-detail-curricula {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none; }
    .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(1) {
      width: 20%;
      padding-right: 10px;
      position: relative; }
      .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(1) .image-card-detail-curricula {
        position: absolute;
        width: 45px;
        height: 45px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        @media screen and (min-width: 768px) {
          .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(1) .image-card-detail-curricula {
            width: 65px;
            height: 65px; } }
    .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(2) {
      width: 80%;
      padding-left: 10px; }
      .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(2) .field-card-detail-curricula {
        color: #117167;
        margin-top: 7px;
        font-size: 14px; }
        @media screen and (min-width: 768px) {
          .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(2) .field-card-detail-curricula {
            margin-top: 5px;
            font-size: 16px; } }
      .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(2) .name-card-detail-curricula {
        font-weight: 100;
        padding-right: 10px;
        font-size: 14px; }
        @media screen and (min-width: 768px) {
          .card-detail-curricula .wrapper-in-card-detail-curricula .list-in-card-detail-curricula:nth-of-type(2) .name-card-detail-curricula {
            font-size: 16px;
            padding-right: 20px; } }
  @media screen and (min-width: 768px) {
    .card-detail-curricula {
      height: 110px;
      margin-bottom: 20px; } }

.card-document {
  background-color: #F0F0F0;
  width: 100%;
  padding: 10px;
  height: 180px;
  position: relative;
  margin-bottom: 10px; }
  .card-document .name-card-document {
    font-size: 16px; }
    @media screen and (min-width: 768px) {
      .card-document .name-card-document {
        font-size: 18px; } }
  .card-document .decription-card-document {
    font-weight: 100;
    font-family: Thonburi;
    font-size: 14px;
    color: #888888;
    margin-top: 10px; }
    @media screen and (min-width: 768px) {
      .card-document .decription-card-document {
        font-size: 16px; } }
  .card-document .btn-download-card-document {
    width: calc(100% - 20px);
    cursor: pointer;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ffffff;
    border: none; }
    .card-document .btn-download-card-document img {
      width: 16px;
      height: 18px; }
      @media screen and (min-width: 768px) {
        .card-document .btn-download-card-document img {
          width: 18px;
          height: 20px; } }
  @media screen and (min-width: 768px) {
    .card-document {
      height: 200px;
      margin-bottom: 20px; } }

.card-person {
  cursor: pointer;
  background-color: #F0F0F0;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .card-person:hover {
    background-color: #ffffff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .card-person .image-card-person {
    width: 100%;
    height: auto; }
  .card-person .role-card-person {
    font-size: 12px;
    font-weight: 100;
    color: #117167;
    margin-top: 10px;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card-person .role-card-person {
        font-size: 12px; } }
  .card-person .name-card-person {
    font-size: 18px;
    font-weight: 100;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card-person .name-card-person {
        font-size: 16px; } }
  @media screen and (min-width: 768px) {
    .card-person {
      margin-bottom: 20px; } }

.active-card-person {
  background-color: #ffffff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.active-card-person-read-person {
  background-color: #ffffff;
  border: 1px solid #F0F0F0; }

.card-read-person {
  width: 100%;
  background-color: #F0F0F0;
  padding: 10px;
  border-radius: 4px; }
  .card-read-person .header-card-read-person {
    width: 100%;
    display: inline-block;
    position: relative; }
    .card-read-person .header-card-read-person .image-header-card-person {
      width: 100%;
      height: auto; }
      @media screen and (min-width: 768px) {
        .card-read-person .header-card-read-person .image-header-card-person {
          overflow: hidden;
          float: left;
          width: 20%; } }
    .card-read-person .header-card-read-person .role-card-read-person {
      color: #117167;
      font-weight: 100;
      margin-top: 5px;
      font-size: 16px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .card-read-person .header-card-read-person .role-card-read-person {
          position: absolute;
          right: 20px;
          font-size: 18px; } }
    .card-read-person .header-card-read-person .name-th-card-read-person {
      width: 100%;
      font-weight: 100;
      text-align: center;
      margin-top: 5px;
      font-size: 16px; }
      @media screen and (min-width: 768px) {
        .card-read-person .header-card-read-person .name-th-card-read-person {
          text-align: left;
          margin-top: 10px;
          padding-left: calc(20% + 30px);
          font-size: 18px; } }
    .card-read-person .header-card-read-person .name-eng-card-read-person {
      width: 100%;
      font-weight: 100;
      text-align: center;
      font-size: 16px; }
      @media screen and (min-width: 768px) {
        .card-read-person .header-card-read-person .name-eng-card-read-person {
          text-align: left;
          margin-top: 10px;
          padding-left: calc(20% + 30px);
          font-size: 18px; } }
  .card-read-person .wrapper-detail-all .list-detail-all {
    width: 100%; }
    .card-read-person .wrapper-detail-all .list-detail-all .header-small-detail {
      padding: 0;
      color: #117167; }
    .card-read-person .wrapper-detail-all .list-detail-all .wrapper-small-detail {
      padding-left: 10px; }
      @media screen and (min-width: 768px) {
        .card-read-person .wrapper-detail-all .list-detail-all .wrapper-small-detail {
          padding-left: 20px; } }
    @media screen and (min-width: 768px) {
      .card-read-person .wrapper-detail-all .list-detail-all:nth-last-child(1) {
        width: 50%; }
      .card-read-person .wrapper-detail-all .list-detail-all:nth-last-child(2) {
        width: 50%; } }
  @media screen and (min-width: 768px) {
    .card-read-person {
      padding: 20px; } }

.wrapper-detail-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  margin-top: 10px; }
  .wrapper-detail-all .list-detail-all {
    width: 100%;
    margin-bottom: 10px; }
    .wrapper-detail-all .list-detail-all .header-small-detail {
      font-size: 16px;
      font-weight: 100;
      padding-left: 10px; }
      @media screen and (min-width: 768px) {
        .wrapper-detail-all .list-detail-all .header-small-detail {
          font-size: 18px; } }
    .wrapper-detail-all .list-detail-all .wrapper-small-detail {
      padding-left: 20px;
      margin-top: 10px;
      list-style-type: none; }
      .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail {
        font-weight: 100;
        margin-top: 5px;
        font-family: Thonburi;
        font-size: 14px; }
        .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail .btn-download-pdf {
          background-color: #117167;
          width: 100px;
          height: 40px;
          border: none;
          cursor: pointer; }
          .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail .btn-download-pdf:focus {
            outline: none; }
          .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail .btn-download-pdf img {
            width: 16px;
            height: 18px; }
            @media screen and (min-width: 768px) {
              .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail .btn-download-pdf img {
                width: 18px;
                height: 20px; } }
          @media screen and (min-width: 768px) {
            .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail .btn-download-pdf {
              width: 100px;
              height: 40px; } }
        @media screen and (min-width: 768px) {
          .wrapper-detail-all .list-detail-all .wrapper-small-detail .list-small-detail {
            font-size: 16px; } }
      @media screen and (min-width: 768px) {
        .wrapper-detail-all .list-detail-all .wrapper-small-detail {
          margin-top: 10px; } }
    @media screen and (min-width: 768px) {
      .wrapper-detail-all .list-detail-all {
        width: 50%;
        margin-bottom: 20px; } }
  .wrapper-detail-all .header-big-detail {
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #117167;
    margin-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .wrapper-detail-all .header-big-detail {
        font-size: 20px; } }
  @media screen and (min-width: 768px) {
    .wrapper-detail-all {
      margin-top: 20px; } }

@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Regular.ttf); }
@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Bold.ttf);
  font-weight: bold; }
@font-face {
  font-family: Kanit;
  src: url(font/Kanit/Kanit-Light.ttf);
  font-weight: 100; }
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  height: auto;
  margin: 0;
  font-family: Kanit; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #117167; }

.description-history {
  font-weight: 100;
  font-family: Thonburi;
  font-size: 14px;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .description-history {
      font-size: 16px; } }

.not-found {
  text-align: center;
  font-weight: 100;
  margin: 10px 0;
  font-size: 18px; }
  @media screen and (min-width: 768px) {
    .not-found {
      font-size: 24px;
      margin: 20px 0; } }

.owl-prev, .owl-next {
  opacity: 0.8;
  width: 25px;
  height: 25px;
  border-radius: 0; }
  .owl-prev:hover, .owl-next:hover {
    opacity: 1; }
  .owl-prev img, .owl-next img {
    position: relative;
    top: -3px;
    left: 0px;
    width: 5px;
    height: 8px; }
    @media screen and (min-width: 768px) {
      .owl-prev img, .owl-next img {
        top: 8px;
        left: -1px;
        width: 13px;
        height: 15px; } }
  @media screen and (min-width: 768px) {
    .owl-prev, .owl-next {
      width: 40px;
      height: 40px; } }

.owl-next {
  right: 10px;
  top: 80px;
  position: absolute; }
  @media screen and (min-width: 768px) {
    .owl-next {
      right: 10px;
      top: 145px; } }

.owl-prev {
  left: 10px;
  top: 80px;
  position: absolute; }
  @media screen and (min-width: 768px) {
    .owl-prev {
      left: 10px;
      top: 145px; } }

.owl-dots {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 768px) {
    .owl-dots {
      bottom: 0; } }

.image-history {
  width: 100%;
  height: auto;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
