$color-light-gray: #F0F0F0;
$color-gray: #888888;
$color-green: #117167;
$color-black: #000000;
$color-white: #ffffff;
$color-facebook: #3B5998;
$color-twiiter: #55ACEE;

$device-mobile: 375px;
$device-tablet: 768px;
$device-computer: 980px;

$font-big-title-mobile: 18px;
$font-small-title-mobile: 16px;
$font-big-description-mobile: 14px;
$font-small-description-mobile: 12px;
$font-small-mobile: 10px;

$font-big-title-tablet-computer: 24px;
$font-small-title-tablet-computer: 18px;
$font-big-description-tablet-computer: 16px;
$font-small-description-tablet-computer: 12px;
$font-small-tablet-computer: 12px;